$font-stack: Montserrat, "HelveticaNeue", Helvetica, Arial

$brand-primary: #17afee
$white: #FAFAFA
$black: #131313
$gray-light: rgb(118, 118, 118)
$gray-lighter: #ccc
$link-color: $brand-primary
$selection-color: $brand-primary
$screen-sm-min: 768px
$screen-md-min: 992px
$screen-lg-min: 1200px
