#experience
	.exp-item
		padding: 0 10px
		text-align: center
		margin-bottom: 40px
		.exp-title
			margin: 0 0 20px 0
			i
				font-size: 66px
				color: $gray-light
	@media (min-width: $screen-sm-min)
		.exp-item
			margin-bottom: 0
