form
	.field
		position: relative
		label
			width: auto
			display: block
			transition: all 0.1s ease-in
			margin-bottom: 4px
		input, textarea
			transition: all 0.1s ease-in
			background-color: $white
			position: relative
			z-index: 10
			&:focus, &:valid
				background-color: #2A2A2A
				color: $white
		&:not(:last-of-type)
			margin-bottom: 10px
	input, textarea
		padding: 6px 18px
		font-size: 22px
		width: 100%
		border: none
		outline: none
		background: transparent
		&:active, &:focus
			outline: none