#projects
	color: $black
	.project-item
		margin-bottom: 20px
		.project-image
			img
				width: 100%
		.project-content
			p
				margin: 10px 20px
			hr
				margin: 40px 20px 0 20px
				padding-bottom: 2px
	@media (min-width: $screen-sm-min){}