ul.skill-list
	+display(flex)
	+flex-direction(row)
	+justify-content(center)
	+align-items(center)
	+flex-wrap(wrap)
	padding: 0
	li.skill-item
		position: relative
		// border: 2px solid $white
		display: inline-block
		color: $white
		margin: 0px 4px 8px 4px
		padding: 4px 10px
		list-style-type: none
		&::after
			content: ''
			display: block
			width: 100%
			background-color: $white
			height: 1px
		a
			display: block
			color: $white
			&:hover, &:focus, &:active
				text-decoration: none
				