doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Adam Raider // Designer, Developer

    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="./css/application.css")

    link(rel="apple-touch-icon", sizes="180x180", href="./favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="./favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="./favicons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="./favicons/manifest.json")
    link(rel="mask-icon", href="./favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#ffffff")

    //- Emoji Support
    script(src="//twemoji.maxcdn.com/2/twemoji.min.js")

  body
    .hero
      .hero--content.wow.fadeIn
        .flex-wrapper
          .hero--heading Hi! I'm Adam,
          #text-rotator.text-rotator.hero--sub.hidden-xs.hidden-sm
            span.pre-text and I&nbsp;
            ul#text-rotator--list.text-rotator--list
              li: span build <a href="#projects">web applications</a>
              li: span play chess
              li: span make <a href="http://youtube.com/ixraider" target="_blank">music</a>
              li: span love design
              li: span want to <a href="#contact">talk to you</a>
            span .
          span.hero--sub.visible-xs-inline.visible-sm-inline and I'm a full-stack developer.
          a(href="#contact" title="Talk To Me").button-cta Talk To Me
      .bg-overlay
      .hero--bg

    .about--wrapper.content-area.alt-bottom
      .container.wow.fadeIn
        .row
          .col-md-10.col-md-offset-1
            h2 Hi there,
            p I'm a developer + designer for all things web. I'm also an #[a(href="http://youtube.com/ixraider" target="_blank") electronic music producer], amateur chess player, #[a(href="https://en.wikipedia.org/wiki/Digital_nomad" target="_blank") digital nomad] and sushi connoisseur.
            p I believe websites should make users happy. View some of my happy little projects below, or scroll even farther and send me some words.
            p.
              Thanks for reading,
              #[br]
              — A

    .exp--wrapper.content-area.alt-bottom.light
      .container
        .row
          .col-md-10.col-md-offset-1
            .exp--item.col-sm-4
              .exp--title.wow.bounceIn
                img.exp--icon(src="./img/idea.png")
                h3 Creative
              .exp--content
                p Builder at heart. Let's make a product together!
            .exp--item.col-sm-4
              .exp--title.wow.bounceIn
                img.exp--icon(src="./img/web.png")
                h3 Technical
              .exp--content
                p Always learning. Tools are temporary, principles are timeless.
            .exp--item.col-sm-4
              .exp--title.wow.bounceIn
                img.exp--icon(src="./img/rocket.png")
                h3 Beautiful
              .exp-content
                p Pixel perfect and responsive on iPhones, laptops and Teslas.

    .content-area.alt-bottom.dark
      .container
        .row
          .col-md-6.col-md-offset-3
            h2.text-center Toolbox
            ul.skill--list
              li.skill--item: a(href="") HTML
              li.skill--item: a(href="") CSS
              li.skill--item: a(href="") SASS
              li.skill--item: a(href="") JavaScript
              li.skill--item: a(href="") jQuery
              li.skill--item: a(href="") MVC
              li.skill--item: a(href="") AngularJS
              li.skill--item: a(href="") Ruby
              li.skill--item: a(href="") Ruby on Rails
              li.skill--item: a(href="") Haml
              li.skill--item: a(href="") Jade / Pug
              li.skill--item: a(href="") Git / Github
              li.skill--item: a(href="") Terminal
              li.skill--item: a(href="") Responsive Design
              li.skill--item: a(href="") User Experience
              li.skill--item: a(href="") SEO
              li.skill--item: a(href="") Bootstrap
              li.skill--item: a(href="") Gulp
              li.skill--item: a(href="") PostgreSQL
              li.skill--item: a(href="") Adobe Photoshop
              li.skill--item: a(href="") Heroku
              li.skill--item: a(href="") Sketch

    #projects.projects--wrapper.aside-area.light.alt-bottom
      .project--items
        .project--item
          .project--image
            img(src="./img/tokenpass.png")
          .project--content.wow.fadeInLeft
            h3.project--heading: a(href="http://tokenpass.tokenly.com" target="_blank") Tokenpass
            p Tokenly is building a suite of applications that is redefining what ownership means on the web. Tokenpass is a part of that suite and is specific to Token Controlled Access (TCA), which allows users to access content on the web based on the contents of their bitcoin wallet. I designed and implemented the user interface of this product with support from the other great developers at Tokenly.
            ul.project--tools
              li Sketch
              li Blade
              li JavaScript/jQuery
              li Sass
              li Vue.js

        .project--item
          .project--image
            img(src="./img/nycda-main.png")
          .project--content.wow.fadeInRight
            h3.project--heading: a(href="http://nycda.com" target="_blank") NYCDA Home
            p New York Code + Design Academy was in need of a web overhaul. As lead developer I planned, designed, and developed this project. It's purpose is to allow students to request information, apply, pay-for, and enroll into any of the courses offered at NYCDA. The entire process is automated and tracked for easier analytic collection.
            ul.project--tools
              li Ruby on Rails
              li Sass
              li JavaScript/jQuery
              li PostgreSQL
              li Haml
              li Git + Github
              li Stripe
              li Heroku

        .project--item
          .project--image
            img(src="./img/nycda-ams.png")
          .project--content.wow.fadeInLeft
            h3.project--heading: a(href="http://nycda.com/study-in-amsterdam" target="_blank") NYCDA Amsterdam
            p New York Code + Design Academy launched a Web Development class in Amsterdam and I was asked to create a landing-page for this course. I developed this lander from scratch using nothing but an oversized spoon and some string.
            ul.project--tools
              li Jade
              li Sass
              li JavaScript/jQuery
              li Git + Github
              li Flexbox

        .project--item
          .project--image
            img(src="./img/itsraider.png")
          .project--content.wow.fadeInRight
            h3.project--heading: a(href="http://itsraider.com" target="_blank") Raider
            p Raider is my musical alias (not so much of an alias I suppose). I created this website to showcase my music as well as to offer a way to contact me. It was developed from the ground up using CSS-grid-framework, Skeleton.
            ul.project--tools
              li Jade
              li Sass
              li Responsive Design
              li Git + Github

    #contact.content-area.alt-bottom.dark
      .container
        .row
          .col-md-6.col-md-offset-3
            h2.form--heading Drop Me A Line
            form(action="//formspree.io/adamjraider@gmail.com" method="POST")
              .field
                label(for="name") Your name, please?
                input(name="name" type="text", required)
              .field
                label(for="email") Email address?
                input(name="_replyto" type="text" required)
              .field
                label(for="message") What's up?
                textarea(name="message" rows="4" required)
              .hidden
                input(type="hidden" name="_subject" value="Hey Adam! (A message from http://adamraider.me)")
                input(type="text" name="_gotcha" style="display:none")
              .field.text-center
                input.btn.primary(type="submit" value="Let's chat!" title="Let's chat!")

    .footer.aside-area.light
      .container
        .row
          .col-md-6.col-md-offset-3
            .text-center
              h1.footer--name-stamp Adam Raider
              p made with ❤️ on #[a(href="http://github.com/adamraider/portfolio") github]
              ul.footer--social
                li: a(href="http://github.com/adamraider" target="_blank"): i.fa.fa-github-square
                li: a(href="http://twitter.com/ixraider" target="_blank"): i.fa.fa-twitter-square
                li: a(href="https://www.linkedin.com/in/adamjraider" target="_blank"): i.fa.fa-linkedin-square

    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js")
    script(src="./js/application.min.js")
