doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Adam Raider
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="./assets/img/favicon/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="./css/application.css")
  body
    .jumbotron
      .jumbotron-content
        .flex-wrapper
          h1.text-center Hi! I'm Adam,
          #text_rotator_wrapper.jumbo-sub.hidden-xs.hidden-sm
            span.pre-text and I&nbsp;
            ul#text_rotator
              li: span build <a href="#projects">web applications</a>
              li: span play chess
              li: span make <a href="http://youtube.com/ixraider" target="_blank">music</a>
              li: span am self-taught
              li: span love great design
              li: span want to <a href="#contact">talk to you</a>
            span .
          span.jumbo-sub.visible-xs-inline.visible-sm-inline and I'm a full-stack rails developer.
          a(href="#contact" title="Available for Hire").button.button-white Available for Hire
      .bg-overlay
      .jumbotron-bg
    #experience.content-area.light
      .container
        .row
          .col-md-10.col-md-offset-1
            .exp-item.col-sm-4
              .exp-title
                i.fa.fa-coffee
                h3 About Adam
              .exp-content
                p I'm a self-taught developer/designer, with a passion for music, sushi and chess.
            .exp-item.col-sm-4
              .exp-title
                i.fa.fa-code
                h3 Tech Talk
              .exp-content
                p You can often catch me on a Rails&nbsp;+&nbsp;AngularJS stack. However, I love learning new tools!
            .exp-item.col-sm-4
              .exp-title
                i.fa.fa-eye
                h3 Eye for Design
              .exp-content
                p A great application is one that's easy to use. User experience means everything to me.
    #skills.content-area.dark
      .container
        .row
          .col-md-6.col-md-offset-3
            h2.text-center The Toolbox
            ul.skill-list
              li.skill-item: a(href="") HTML
              li.skill-item: a(href="") CSS
              li.skill-item: a(href="") SASS
              li.skill-item: a(href="") JavaScript
              li.skill-item: a(href="") jQuery
              li.skill-item: a(href="") AngularJS
              li.skill-item: a(href="") Ruby
              li.skill-item: a(href="") Ruby on Rails
              li.skill-item: a(href="") Bootstrap
              li.skill-item: a(href="") Haml
              li.skill-item: a(href="") Jade
              li.skill-item: a(href="") Git / Github
              li.skill-item: a(href="") Terminal
              li.skill-item: a(href="") Responsive Design
              li.skill-item: a(href="") UI / UX
              li.skill-item: a(href="") SEO
              li.skill-item: a(href="") Bootstrap
              li.skill-item: a(href="") Gulp
              li.skill-item: a(href="") PostgreSQL
              li.skill-item: a(href="") Adobe Photoshop
              li.skill-item: a(href="") Heroku
    #projects.content-area.light
      .content
        .container
          .row
            .col-md-10.col-md-offset-1
              h2.text-center Recent Work
              .project-items
                .row.project-item
                  .project-image.col-sm-6
                    img(src="./img/nycda-main.png")
                  .project-content.col-sm-6
                    h3: a(href="http://nycda.com" target="_blank") NYCDA Home
                    p New York Code + Design Academy was in need of a web overhaul. I am currently lead developer and have planned, designed, and developed this project. It's purpose is to allow students to request information, apply, pay-for, and enroll into any of the courses offered at NYCDA. The entire process is automated and tracked for easier analytic collection.
                    p.toolbox Ruby on Rails · Sass · JavaScript/jQuery · PostgreSQL · Haml · Git + Github · Stripe · Heroku

                .row.project-item
                  .project-image.col-sm-6
                    img(src="./img/nycda-ams.png")
                  .project-content.col-sm-6
                    h3: a(href="http://nycda.com/study-in-amsterdam" target="_blank") NYCDA Amsterdam
                    p New York Code + Design Academy launched a Web Development class in Amsterdam and I was asked to create a landing-page for this course. I developed this lander from scratch using nothing but an oversized spoon and some string.
                    p.toolbox Jade · Sass · JavaScript/jQuery · Git + Github · Flexbox
                    
                .row.project-item
                  .project-image.col-sm-6
                    img(src="./img/itsraider.png")
                  .project-content.col-sm-6
                    h3: a(href="http://itsraider.com" target="_blank") Raider
                    p Raider is my musical alias (not so much of an alias I suppose). I created this website to showcase my music as well as to offer a way to contact me. It was developed from the ground up using CSS-grid-framework, Skeleton.
                    p.toolbox Jade · Sass · Responsive Design · Git + Github
                    
    #contact.content-area.dark
      .container
        .row
          .col-md-6.col-md-offset-3
            h2.text-center Drop me a line...
            form(action="//formspree.io/adamjraider@gmail.com" method="POST")
              .field
                label(for="name") Your name, please?
                input(name="name" type="text", required)
              .field
                label(for="email") Email address?
                input(name="_replyto" type="text" required)
              .field
                label(for="message") What's up?
                textarea(name="message" rows="4" required)
              .hidden
                input(type="hidden" name="_subject" value="Hey Adam! (A message from http://adamraider.me)")
                input(type="text" name="_gotcha" style="display:none")
              .field.text-center
                input.button(type="submit" value="Let's chat!" title="Let's chat!")
    #footer.aside-area.light
      .container
        .row
          .col-md-6.col-md-offset-3
            .text-center
              h4 Adam Raider
              ul.nav-social
                li: a(href="http://github.com/adamraider" target="_blank"): i.fa.fa-github-square
                li: a(href="http://twitter.com/ixraider" target="_blank"): i.fa.fa-twitter-square
                li: a(href="https://www.linkedin.com/in/adamjraider" target="_blank"): i.fa.fa-linkedin-square
        .row
          .col-xs-12
            .text-right
              p.muted &copy; 2016
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="./js/application.min.js")