doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Adam Raider
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="/assets/img/favicon/favicon.ico")
    link(rel="stylesheet" href="/css/application.css")
  body
    .jumbotron
      .content
        h1 Hi! I'm Adam,
        #text_rotator_wrapper
          span.pre-text and I&nbsp;
          ul#text_rotator
            li: span build web applications
            li: span make music
          span .
    .content-area
      .container
        .row
          .col-md-12
            h1 Projects
            p projects...
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="/js/script.js")