doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Adam Jesse Raider
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="./assets/img/favicon/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="./css/application.css")
  body
    .jumbotron
      .jumbotron-content
        .flex-wrapper
          h1.text-center Hi! I'm Adam,
          #text_rotator_wrapper.jumbo-sub.hidden-xs.hidden-sm
            span.pre-text and I&nbsp;
            ul#text_rotator
              li: span build <a href="#projects">web applications</a>
              li: span play chess
              li: span make <a href="http://youtube.com/ixraider" target="_blank">music</a>
              li: span am self-taught
              li: span love great design
              li: span want to <a href="#contact">talk to you</a>
            span .
          span.jumbo-sub.visible-xs-inline.visible-sm-inline and I'm a full-stack rails developer.
          a(href="#contact" title="Available for Hire").button.button-white Available for Hire
      .bg-overlay
      .jumbotron-bg
    #experience.content-area.light
      .container
        .row
          .col-md-10.col-md-offset-1
            .col-sm-4
              .exp-item
                .exp-title
                  i.fa.fa-coffee
                  h3 About Adam
                .exp-content
                  p I'm a self taught developer, with a passion for music, good sushi, and chess.
            .col-sm-4
              .exp-item
                .exp-title
                  i.fa.fa-code
                  h3 Tech Talk
                .exp-content
                  p You can often catch me on a Rails + Postgres stack. However, I love picking apart new tech!
            .col-sm-4
              .exp-item
                .exp-title
                  i.fa.fa-eye
                  h3 Eye for Design
                .exp-content
                  p An application should not only work well, but feel great. User experience means everything.
    #skills.content-area.dark
      .container
        .row
          .col-md-6.col-md-offset-3
            h2.text-center The Toolbox
            ul.skill-list
              li.skill-item: a(href="#") HTML
              li.skill-item: a(href="#") CSS
              li.skill-item: a(href="#") JavaScript
              li.skill-item: a(href="#") jQuery
              li.skill-item: a(href="#") Ruby
              li.skill-item: a(href="#") Ruby on Rails
              li.skill-item: a(href="#") Bootstrap
              li.skill-item: a(href="#") Haml
              li.skill-item: a(href="#") Jade
              li.skill-item: a(href="#") Git / Github
              li.skill-item: a(href="#") Terminal
              li.skill-item: a(href="#") Responsive Design
              li.skill-item: a(href="#") UI / UX
              li.skill-item: a(href="#") SASS
              li.skill-item: a(href="#") SEO
              li.skill-item: a(href="#") Adobe Photoshop
              li.skill-item: a(href="#") Adobe After Effects
              li.skill-item: a(href="#") Heroku
    #projects.content-area.light
      .content
        .container
          .row
            .col-md-6.col-md-offset-3
              h2.text-center Recent Work
              .project-items
                .row.project-item.text-justify
                  .col-md-6
                    img(src="http://placehold.it/350x150")
                  .col-md-6.text-justify
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
                .row.project-item.text-justify
                  .col-md-6
                    img(src="http://placehold.it/350x150")
                  .col-md-6.text-justify
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
                .row.project-item.text-justify
                  .col-md-6
                    img(src="http://placehold.it/350x150")
                  .col-md-6.text-justify
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
                .row.project-item.text-justify
                  .col-md-6
                    img(src="http://placehold.it/350x150")
                  .col-md-6.text-justify
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit
    #contact.content-area.dark
      .container
        .row
          .col-md-6.col-md-offset-3
            h2.text-center Drop me a line
            form
              .field
                label(for="name") Your name, please?
                input(name="name" type="text", required)
              .field
                label(for="email") Email address?
                input(name="email" type="text" required)
              .field
                label(for="message") What's up?
                textarea(name="message" rows="4" required)
              .field.text-center
                input.button(type="submit" value="Let's do this" title="Let's do this")
    #footer.aside-area.light
      .container
        .row
          .col-md-6.col-md-offset-3
            .text-center
              h4 Adam Jesse Raider
              p &copy; 2015
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="./js/application.min.js")