doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Adam Jesse Raider
    
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="shortcut icon" href="./assets/img/favicon/favicon.ico")
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="./css/application.css")
  body
    .jumbotron
      .jumbotron-content
        .flex-wrapper
          h1 Hi! I'm Adam,
          #text_rotator_wrapper
            span.pre-text and I&nbsp;
            ul#text_rotator
              li: span build <a href="#projects">web applications</a>
              li: span make <a href="http://youtube.com/ixraider" target="_blank">music</a>
              li: span want to <a href="#contact">talk to you</a>
            span .
          a(href="#").button.button-white Available for Hire
      .jumbotron-overlay
      .jumbotron-bg
    #skills.content-area.light
      .container
        .row
          .col-md-6.col-md-offset-3
            h2.text-center Skills
            ul.skill-list
              li.skill-item HTML
              li.skill-item CSS
              li.skill-item JavaScript
              li.skill-item jQuery
              li.skill-item Ruby
              li.skill-item Ruby on Rails
              li.skill-item Bootstrap
              li.skill-item Haml
              li.skill-item Jade
              li.skill-item Git / Github
              li.skill-item Terminal
              li.skill-item Responsive Design
              li.skill-item UI / UX
              li.skill-item SASS
              li.skill-item SEO
              li.skill-item Adobe Photoshop
              li.skill-item Adobe After Effects
              li.skill-item Heroku
    #projects.content-area.light
      .container
        .row
          .col-md-6.col-md-offset-3
            h2.text-center Projects
            p coming soon...
    #contact.content-area.light
      .container
        .row
          .col-md-6.col-md-offset-3
            h2.text-center Want to work together?
            form
              .field
                label(for="name") Your name?
                input(name="name" type="text", required)
              .field
                label(for="email") Your email?
                input(name="email" type="text" required)
              .field
                label(for="message") What's up?
                textarea(name="message" rows="4" required)
              .field.text-center
                input.button(type="submit" value="Let's do this")
    #footer.aside-area.primary
      .container
        .row
          .col-md-6.col-md-offset-3
            .text-center
              h4 Adam Jesse Raider
              p &copy; 2015
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="./js/application.min.js")